/* BillPage.css */

/* Basic styles */
.bill-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .bill-form {
    display: flex;
    flex-direction: column;
    color:rgb(38, 6, 218);
  }
  
  .form-group12 {
    margin-top: 3%;
  }

  .form-group12 label{
    text-align: left;
    margin-left: 10%;
  }

  label {
    margin-bottom: 5px;
  }
  
  .form-group12 input[type='text'] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 80%;
    height: 30px;
  }

.form-group12 input[type='number'] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 80%;
    height: 30px;
  }
  
.bill-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
    height: 50px
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .bill-container {
      padding: 10px;
    }
  }
  